* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

/* NAV BAR STYLING */
nav {
  border: 3px solid red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 90%;
  margin: 5%;
  background-color: black;
  color: white;
}

nav ul {
  border: 3px solid rgb(54, 151, 50);
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 6vh;
  margin: 1vh 0;
}

nav ul a {
  text-decoration: none;
  color: white;
}

header {
  border: 2px solid maroon;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  color: white;
}

header h1 {
  margin-left: 4%;
  /* height: 100%; */
     animation-name: banner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: normal;
}

header p {
  margin-right: 4%;
   position: absolute;
  right: 4%;
  width: 40px;
  height: 40px;
  margin-bottom: 2%;
  color: maroon;
animation-name: icon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: normal;
}

#products {
  border: 2px solid brown;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 15vh;
}

section {
  border: 5px solid rgb(100, 4, 4);
  background-color: rgb(29, 28, 28);
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 15px 10px red;
  border-radius: 15px;
  height: 75vh;
  width: 30%;
  margin: 2% 30px;
  margin: 4% 1.5%;
}

section .image {
  border-radius: 15px;
  width: 100%;
  height: 62%;
  overflow: hidden;
}

form {
  border: 2px solid brown;
  width: 100%;
  height: 7%;
}

.discount,
.total {
  border: 2px solid brown;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 7%;
}

section div button {
   border: 5px solid rgb(100, 4, 4);
  background-color: rgb(29, 28, 28);
    color: white;
    border-radius: 20px;
  width: 40%;
  height: 5vh;
  margin: 2% 0.5%;
}

.buttoning{
   display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.page-through {
  border: 2px solid brown;
  width: 40% !important;
  height: auto;
  margin: 0px auto;
}

.page-through .amounts {
  border: 2px solid brown;
  display: flex;
  flex-flow: /*row*/ column nowrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0px auto;
}

.page-through .amounts div {
  border: 2px solid brown;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

/* .page-through div {
    border: 2px solid brown;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width:20%;
  height: auto;
  margin: 0px 10%;
} */

.amounts p {
  margin: 1%;
}

#promo {
  border: 2px solid rgb(94, 191, 247);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6vh;
  margin: 0%;
}

#promo p {
  margin: 1%;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 10vh;
  margin: 2% auto;
  color: white ;
}

button {
  border-radius: 20px;
  width: 40%;
  height: 5vh;
  margin: 2% 0.5%;
  border: 5px solid rgb(100, 4, 4);
  background-color: rgb(29, 28, 28);
}

a {
  text-decoration: none;
  text-align: center;
  color: white;
}

@keyframes banner {
  0% {
    color: black;
  }

  30% {
    color: black;
  }

  50% {
    color: white;
  }

  100% {
    color: red;
  }
}

@keyframes icon {
  0% {
    right: 98%;
  }

  100% {
    right: 5%;
  }
}

@media screen and (max-width: 900px) {
  @keyframes banner {
    0% {
      color: black;
    }

    40% {
      color: black;
    }

    50% {
      color: white;
    }

    100% {
      color: red;
    }
  }

  @keyframes icon {
    0% {
      right: 98%;
    }

    100% {
      right: 5%;
    }
  }
}


@media screen and (max-width: 750px) {
  #products section {
    width: 60%;
    margin: 7.5% 3.5%;
  }

  .page-through {
    border: 2px solid brown;
    width: 50% !important;
    height: auto;
    margin: 0px auto;
  }
}


@media screen and (max-width: 650px) {

  @keyframes banner {
    0% {
      color: black;
    }

    55% {
      color: black;
    }

    70% {
      color: white;
    }

    100% {
      color: red;
    }
  }

  @keyframes icon {
    0% {
      right: 98%;
    }

    100% {
      right: 5%;
    }
  }
}

@media screen and (max-width: 550px) {
  #products section {
    width: 80%;
    margin: 7.5% 3.5%;
  }

  .page-through {
    border: 2px solid brown;
    width: 70% !important;
    height: auto;
    margin: 5% auto;
  }

  @keyframes banner {
    0% {
      color: black;
    }

    10% {
      color: black;
    }

    20% {
      color: white;
    }

    70% {
      color: red;
    }

    100% {
      color: maroon;
    }
  }

  @keyframes icon {
    0% {
      color: black;
    }

    10% {
      color: black;
    }

    20% {
      color: white;
    }

    70% {
      color: red;
    }

    100% {
      color: maroon;
    }
  }
}


