* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color:black;
  color: white;
}


/* BANNER STYLING */

header {
  border: 2px solid maroon;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  color: white;
}

header h1 {
  margin-left: 4%;
  /* height: 100%; */
     animation-name: banner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: normal;
}

header p {
  margin-right: 4%;
   position: absolute;
  right: 4%;
  width: 40px;
  height: 40px;
  margin-bottom: 2%;
  color: maroon;
animation-name: icon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: normal;
}

/* FORM STYLING */
main{
  margin-top: 24vh;
}

/* INPUT FIELDS ONLY */

input{
  border: 2.5px solid maroon;
  background-color: rgb(77, 75, 75);
border-radius: 20px;
height: 4vh;}

  label {
  margin-left: 1.5%;
}

input {
  margin-right: 1.5%;
}

input[type="radio"]{
  vertical-align: middle;
}

/* section {
  border: 2px solid rgb(106, 12, 150);
  margin-top: 4vh;
  width: 100%;
} */
/* STYLE TACKLING ALL OF THE CONTAINERS */
#customer-information, #shipping, #shipping-method{
width: 60%;
margin: 8% auto;
 border: 5px solid rgb(100, 4, 4);
  background-color: rgb(29, 28, 28);
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 15px 10px red;
  border-radius: 15px;
}

/* NEED TO ALIGN THE HEADINGS */

#customer-information h2,
#shipping h2, #shipping-method h2 {
  border: 2px solid blue;
  text-align: center;
  display: block;
}

/* THE FORM CONTAINERS */
#customer-information {
  border: 2px solid blue;
  display: flex;
  flex-flow: column nowrap;
  /* width: 100%; */
  height: auto;
}

.customer-info {
  border: 2px solid rgb(197, 67, 49);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  height: 8vh;
  margin: 1% 0%;
}

#shipping {
  border: 2px solid rgb(0, 225, 255);
  display: flex;
  flex-flow: column nowrap;
  /* width: 100%; */
  height: auto;
  margin-top: 3%;
}

.destination {
  border: 2px solid rgb(224, 238, 100);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  margin: 1% 0%;
}

.shipping-method {
  border: 2px solid rgb(100, 100, 238);
}

.method {
  border: 2px solid rgb(238, 100, 169);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
}

/* TABLE AND ORDER SUMMARY */
table {
  width: 60%;
  border: 2px solid red;
  border-radius: 25px;
  margin: 8% auto 3%;
}

th {
  border: 2px solid red;
  text-align: center;
}

td {
  border: 2px solid red;
  text-align: center;
}

table,
th,
td {
  border-collapse: collapse;
}

.pricing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 1.5% auto;

}

.amount-description{
  width: 50%;
}

.switching{
  border: 2px solid rgb(72, 255, 0);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 7vh;
margin: 0% auto;
}

.switching button{
  height: 5vh;
}

/* TACKLING BUTTONS */

button {
  border-radius: 20px;
  width: 40%;
  height: 5vh;
  margin: 2% 0.5%;
  border: 5px solid rgb(100, 4, 4);
  background-color: rgb(29, 28, 28);
  color: white;
}

a {
  text-decoration: none;
  text-align: center;
  color: white;
}

@keyframes banner {
  0% {
    color: black;
  }

  30% {
    color: black;
  }

  50% {
    color: white;
  }

  100% {
    color: red;
  }
}

@keyframes icon {
  0% {
    right: 98%;
  }

  100% {
    right: 5%;
  }
}

@media screen and (max-width: 900px) {
  @keyframes banner {
    0% {
      color: black;
    }

    40% {
      color: black;
    }

    50% {
      color: white;
    }

    100% {
      color: red;
    }
  }

  @keyframes icon {
    0% {
      right: 98%;
    }

    100% {
      right: 5%;
    }
  }
}

@media screen and (max-width: 650px) {

  @keyframes banner {
    0% {
      color: black;
    }

    55% {
      color: black;
    }

    70% {
      color: white;
    }

    100% {
      color: red;
    }
  }

  @keyframes icon {
    0% {
      right: 98%;
    }

    100% {
      right: 5%;
    }
  }
}

@media screen and (max-width: 550px) {
/* TACKLING BODY CONTAINERSSSS */
#customer-information, #shipping, #shipping-method{
width: 80%;
margin: 8% auto;
 border: 5px solid rgb(100, 4, 4);
  background-color: rgb(29, 28, 28);
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 15px 10px red;
  border-radius: 15px;
}

/* TACKLING FORMS */
  .method, .destination, .customer-info{
    flex-flow: column nowrap;
    justify-content: center;
    height: 15vh;
  }

    label {
  margin-left: 0%;
  margin-bottom: 1.5%;
}

input {
  margin-right: 0%;
}

/* TACKLING BUTTONS AT THE BOTTOM */
.switching{
  border: 2px solid rgb(72, 255, 0);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
margin: 0% auto;
}

.switching button {
  border-radius: 20px;
  width: 70%;
  height: 5vh;
  margin: 2% 0.5%;
  border: 5px solid rgb(100, 4, 4);
  background-color: rgb(29, 28, 28);
  color: white;
}


  @keyframes banner {
    0% {
      color: black;
    }

    10% {
      color: black;
    }

    20% {
      color: white;
    }

    70% {
      color: red;
    }

    100% {
      color: maroon;
    }
  }

  @keyframes icon {
    0% {
      color: black;
    }

    10% {
      color: black;
    }

    20% {
      color: white;
    }

    70% {
      color: red;
    }

    100% {
      color: maroon;
    }
  }
}


