*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       /* color: white; */
}

body{
    overflow: hidden;
    background-color: black;
     color: white;
}

.enter{
   /* border: 2px solid red; */
   width: 100vw;
   height: 18vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 300%;
}

.verse{
    color:transparent;
    -webkit-text-stroke: 1px red;
}

.fill{
   display: flex;
   margin: auto;
   margin-top: 1%;
   /* border: 2px solid red; */
   width: 30vw;
   height: 76vh;
   border-radius: 40px;
   box-shadow: 0px 8px 20px 10px rgba(255, 9, 9, 0.2);
}

.sign{
     /* border: 2px solid rgb(9, 255, 255); */
     height:12%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 150%;
      color:transparent;
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
}

.fields{
     /* border: 2px solid red; */
     margin-top: 1.5%;
     height: 13.5%;
     border-radius: 10px;
     text-align: center;
}

input:not(.ch1){
    display: block;
    color: white;
    outline: 2px solid red;
    background-color: black;
    margin-left: 10%;
    height:100%;
    width: 80%;
    padding: 2%;
}

.eyes{
    display:flex;
    justify-content: space-evenly;

}

#password, #confirm{
   width: 100%
}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid rgb(204, 44, 44);
    border: 2px solid rgb(87, 80, 80);
    /* background-color: red; */
    color: grey;
    height: 55%;
    width: 20%;
    margin-right: 6%;
    margin-top: 0.3%;
    font-size: medium;
    font-weight: 100;
}

input:valid,:not(){
    outline: 2px solid green;
}

.btn a{
     color: red;
     text-decoration: none;
}

button{
     display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid red;
    background-color: black;
    border-radius: 15px;
    width: 25%;
    height: 50px;
    margin-left: 38%;
    margin-bottom: 2%;
}

button:hover{
   transform: scale(1.2);
   box-shadow: 0px 8px 20px 10px rgba(255, 9, 9, 0.2);
}

.options{
    height: 40%;
}

.text{
    /* border: 2px solid red; */
    height: 18%;
    text-align: center;
}

.text h2{
    font-size:medium;
    font-weight: lighter;
    color: rgb(153, 142, 142);
}

.icons{
    display: flex;
    justify-content: space-evenly;
    color: rgb(153, 142, 142);
    /* border: 2px solid  rgb(9, 255, 255); */
    margin-top: 1%;
    height: 42%;
}

.fa-google:hover, .fa-facebook:hover, .fa-apple:hover, .fa-phone:hover{
    transform: scale(1.5);
}

.around{
     /* border: 2px solid black; */
    width: 100%;
    height: 70%;
 
}

@media screen and (max-width: 910px){
 .verse{
    color:transparent;
    -webkit-text-stroke: 0.8px red;
    font-weight: lighter;
     font-size: 130%
}

.sign{
    font-size: 110%;
}

.hide{
    color: white;
    display: flex;
    justify-content: center;
    font-size: xx-small;
    font-weight: 100;
}

}


@media screen and (max-width: 550px){
.verse{
    color:transparent;
    -webkit-text-stroke: 0.5px red;
      font-size: 100%;

}
.form{
   display: flex;
   margin: auto;
   margin-top: 5%;
   border: 2px solid blue;
   width: 80vw;
   height: 70vh;
}
.sign{
    font-size: 60%;
}
.checkbox{
    height: 35%;
    width: 25%
}
.hide{
    color: white;
    font-size: xx-small;
    font-weight: 50;
}


}


@media screen and (max-width: 265px){
    .verse{
    color:transparent;
    -webkit-text-stroke: 0.2px red;
      font-size: 60%
}

.sign{
    font-size: 0%;
}
.icons{
    height: 30%;
    font-size: smaller;
}

}
