* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: black;
  color: antiquewhite;
}

/* NAV BAR STYLING */
nav {
  border: 3px solid red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 90%;
  margin: 5%;
  background-color: black;
  color: white;
}

nav ul {
  border: 3px solid rgb(54, 151, 50);
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 6vh;
  margin: 1vh 0;
}

nav ul a {
  text-decoration: none;
  color: white;
}
/* MY BANNER */

header{
    width: 65%;
  height: 100vh;
  margin:0 auto ;
}
header{
  border: 2px solid red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height:10vh;
  position: fixed; 
  top: 0%;
  left: 0%;
  right: 0%;
}

header h1{
margin-left: 3%;
}

 header p{
margin-right: 3%;
}

/* PRODUCT VIEWING */

main {
  border: 2.5px solid green;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top:13vh;
}

section {
  border: 2.5px solid olive;
  width: 25%;
  height: 84vh;
  margin: 4% 3.5%;
  text-align: center;
  padding: 5px;
}

section div {
  border: 2px solid olivedrab;
  width: auto;
  height: 40%;
}

form {
  border: 2.5px solid lightblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2px;
  height: 10%;
  align-items: center;
}

.shoe-size {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: auto;
}

.shoe-size p {
  width: 100%;
}

.shoe-radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin: 2% 0%;
}

label {
  width: 20%;
  height: 3vh;
  margin: 3% 4%;
}

.price {
  border: 2px solid rgb(226, 22, 22);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  /* align-items: center; */
  height: 5%;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.add-to-cart {
  padding: 5px;
  height: 50%;
  width: 40%;
  text-align: center;
  margin-left: 3%;
}

.buy-now {
  padding: 5px;
  height: 50%;
  width: 40%;
  text-align: center;
  margin-right: 3%;
}

/* IMAGES STYLING */

.mypics {
  overflow-x: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: black;
}

/* IMAGES WITH THEIR PRBLM CLASSES AND ANIMATIONS */

img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: imagescrolling;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes imagescrolling {
  0% {
    right: -4%;
  }

  100% {
    right: 197%;
  }
}

.prblm1 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem1;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem1 {
  0% {
    right: -4%;
  }

  100% {
    right: 187%;
  }
}

.prblm2 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem2;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem2 {
  0% {
    right: -4%;
  }

  100% {
    right: 217%;
  }
}

.prblm3 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem3;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem3 {
  0% {
    right: -4%;
  }

  100% {
    right: 147%;
  }
}

.prblm4 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem4;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem4 {
  0% {
    right: -4%;
  }

  100% {
    right: 167%;
  }
}

.prblm5 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem5;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem5 {
  0% {
    right: -4%;
  }

  100% {
    right: 142%;
  }
}

.prblm6 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem6;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem6 {
  0% {
    right: -4%;
  }

  100% {
    right: 274%; /*SUBTRACTED 16 INSTEAD OF 8 NEXT TIME USE OBJECT FIT AND PUT ALL OF THE IMAGES IN DIVS*/
  }
}

/* MY MEDIA QUERRIES */
@media screen and (max-width: 900px) {
  main section {
    border: 2.5px solid olive;
    width: 40%;
    height: 95vh;
    margin: 4% 3.5%;
    text-align: center;
    /* padding: 5px; */
  }
}

@media screen and (max-width: 550px) {
  main section {
    border: 2.5px solid olive;
    width: 70%;
    height: 96.5vh;
    margin: 4% auto;
    text-align: center;
    /* padding: 5px; */
  }
}

@media screen and (max-width: 350px) {
  main section {
    border: 2.5px solid olive;
    width: 85%;
    height: 91vh;
    margin: 4% auto;
    text-align: center;
    padding: 5px;
  }
}
