* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: black;
  color: antiquewhite;
}

body::-webkit-scrollbar {
  display: none;
}

/* NAV BAR STYLING */
nav {
  border: 3px solid red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 90%;
  margin: 5%;
  background-color: black;
  color: white;
}

nav ul {
  border: 3px solid rgb(54, 151, 50);
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 6vh;
  margin: 1vh 0;
}

nav ul a {
  text-decoration: none;
  color: white;
}
/* MY BANNER */

header {
  width: 65%;
  height: 100vh;
  margin: 0 auto;
}
header {
  border: 2px solid red;
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 3;
}

header h1 {
  margin-left: 3%;
  animation-name: banner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: normal;
}

header p {
  margin-right: 3%;
  position: absolute;
  right: 3%;
  color: maroon;
  animation-name: icon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: normal;
  transform: scale(2);
}

/* PRODUCT VIEWING */

main {
  /* border: 2.5px solid green; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 13vh;
}

section {
  border: 5px solid rgb(100, 4, 4);
  background-color: rgb(29, 28, 28);
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 15px 10px red;
  width: 25%;
  height: 75vh;
  margin: 4% 1.5%;
  text-align: center;
  padding: 5px;
}

section div {
  /* border: 2px solid olivedrab; */
  width: auto;
  height: 40%;
}

form {
  /* border: 2.5px solid lightblue; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2px;
  height: 10%;
  align-items: center;
}

.shoe-size {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: auto;
}

.shoe-size p {
  width: 100%;
}

/* .shoe-radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin: 0.5% 0%;
} */

.shoe-radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  width:90%;
}

label {
  width: 20%;
  height: 3vh;
  margin: 3% 4%;
}

.price {
  /* border: 2px solid rgb(226, 22, 22); */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  /* align-items: center; */
  height: 5%;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.add-to-cart {
  padding: 5px;
  height: 50%;
  width: 40%;
  text-align: center;
  margin-left: 3%;
}

.buy-now {
  padding: 5px;
  height: 50%;
  width: 40%;
  text-align: center;
  margin-right: 3%;
}

/* IMAGES STYLING */

.mypics {
  overflow-x: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: black;
}

/* IMAGES WITH THEIR PRBLM CLASSES AND ANIMATIONS */

img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: imagescrolling;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes banner {
  0% {
    color: black;
  }

  30% {
    color: black;
  }

  50% {
    color: white;
  }

  100% {
    color: red;
  }
}

@keyframes icon {
  0% {
    right: 98%;
  }

  100% {
    right: 5%;
  }
}

@keyframes imagescrolling {
  0% {
    right: -4%;
  }

  100% {
    right: 197%;
  }
}

.prblm1 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem1;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem1 {
  0% {
    right: -4%;
  }

  100% {
    right: 187%;
  }
}

.prblm2 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem2;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem2 {
  0% {
    right: -4%;
  }

  100% {
    right: 217%;
  }
}

.prblm3 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem3;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem3 {
  0% {
    right: -4%;
  }

  100% {
    right: 147%;
  }
}

.prblm4 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem4;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem4 {
  0% {
    right: -4%;
  }

  100% {
    right: 167%;
  }
}

.prblm5 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem5;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem5 {
  0% {
    right: -4%;
  }

  100% {
    right: 142%;
  }
}

.prblm6 img {
  height: 90%;
  width: 120%;
  margin: auto 2%;
  border: 4px solid rgb(184, 9, 9);
  border-radius: 15px;
  position: relative;
  animation-name: problem6;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes problem6 {
  0% {
    right: -4%;
  }

  100% {
    right: 274%; /*SUBTRACTED 16 INSTEAD OF 8 NEXT TIME USE OBJECT FIT AND PUT ALL OF THE IMAGES IN DIVS*/
  }
}

/* MY MEDIA QUERRIES */

@media screen and (max-width: 900px) {
  main section {
    /* border: 2.5px solid olive; */
    width: 40%;
    height: 77vh;
    margin: 4% 3.5%;
    text-align: center;
    /* padding: 5px 0px;  */
  }

  .buy-now,
  .add-to-cart {
    width: 30%;
    height: 40%;
  }

  .buy-now {
    margin-right: 6.5%;
  }

  .add-to-cart {
    margin-left: 6.5%;
  }

  @keyframes banner {
    0% {
      color: black;
    }

    40% {
      color: black;
    }

    50% {
      color: white;
    }

    100% {
      color: red;
    }
  }

  @keyframes icon {
    0% {
      right: 98%;
    }

    100% {
      right: 5%;
    }
  }
}

@media screen and (max-width: 650px) {
  main section {
    /* border: 2.5px solid olive; */
    width: 60%;
    height: 82vh;
    margin: 9% auto;
    text-align: center;
    /* padding: 5px; */
  }

  @keyframes banner {
    0% {
      color: black;
    }

    55% {
      color: black;
    }

    70% {
      color: white;
    }

    100% {
      color: red;
    }
  }

  @keyframes icon {
    0% {
      right: 98%;
    }

    100% {
      right: 5%;
    }
  }
}

@media screen and (max-width: 550px) {
  main section {
    /* border: 2.5px solid olive; */
    width: 60%;
    height: 82vh;
    margin: 9% auto;
    text-align: center;
    /* padding: 5px; */
  }

  @keyframes banner {
    0% {
      color: black;
    }

    10% {
      color: black;
    }

    20% {
      color: white;
    }

    70% {
      color: red;
    }

    100% {
      color: maroon;
    }
  }

  @keyframes icon {
    0% {
      color: black;
    }

    10% {
      color: black;
    }

    20% {
      color: white;
    }

    70% {
      color: red;
    }

    100% {
      color: maroon;
    }
  }
}

@media screen and (max-width: 350px) {
  main section {
    /* border: 2.5px solid olive; */
    width: 75%;
    height: 91vh;
    margin: 9% auto;
    text-align: center;
    padding: 5px;
  }
}
